<div class="col-sm-6">
    <h3>
        Edit Employee
    </h3>
    <form action="/employees/<%= employee._id %>/edit" method="post">
        <!-- Emp Number -->
    
        <div class="form-group">
            <label for="emp_no" class="col-2 col-form-label">Emp Number</label>
            <div class="col-10">
                <input class="form-control" type="number" name="emp_no" 
                        value="<%=employee.emp_no%>">
            </div>
        </div>
        <br/>
        <!-- First Name -->
        <div class="form-group">
            <label for="emp_no" class="col-2 col-form-label">First Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="first_name" 
                        value="<%=employee.first_name%>" />
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label for="emp_no" class="col-2 col-form-label">Last Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="last_name" 
                    value="<%=employee.last_name%>">
            </div>
        </div>

        <!-- Birth Date -->
       <div class="form-group">
            <label for="birth_date" class="col-2 col-form-label">Birth Date</label>
            <div class="col-10">
                <input class="form-control" type="date" name="birth_date" 
                        value="<%= employee.birth_date %>">
            </div>
        </div>

        <!-- Gender -->
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" name="gender">
                <% if (employee.gender === 'M') { %>
                    <option selected value="M">Male</option>
                    <option value="F">Female</option>
                <% } else if (employee.gender === 'F') { %>
                    <option value="M">Male</option>
                    <option selected value="F">Female</option>
                <% } %>
            </select>
        </div>

        <!-- Hire Date -->
        <div class="form-group">
            <label for="hire_date" class="col-2 col-form-label">Hire Date</label>
            <div class="col-10">
                <input class="form-control" type="date" name="hire_date" 
                    value="<%=employee.hire_date%>">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
</div>